USE [master]
GO
/****** Object:  Database [DWH_Vivienda]    Script Date: 4/06/2026 5:41:16 a. m. ******/
CREATE DATABASE [DWH_Vivienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH_Vivienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DWH_Vivienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_Vivienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DWH_Vivienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH_Vivienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH_Vivienda]
GO
/****** Object:  Table [dbo].[DimMunicipio]    Script Date: 4/06/2026 5:41:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMunicipio](
	[cod_divipola_mun] [int] NOT NULL,
	[cod_divipola_depto] [int] NOT NULL,
	[municipio] [varchar](100) NOT NULL,
	[departamento] [varchar](100) NOT NULL,
 CONSTRAINT [PK_DimMunicipio] PRIMARY KEY CLUSTERED 
(
	[cod_divipola_mun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPrograma]    Script Date: 4/06/2026 5:41:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPrograma](
	[id_programa] [int] NOT NULL,
	[programa] [varchar](150) NOT NULL,
 CONSTRAINT [PK_DimPrograma] PRIMARY KEY CLUSTERED 
(
	[id_programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTiempo]    Script Date: 4/06/2026 5:41:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTiempo](
	[anio] [int] NOT NULL,
	[mes] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DimTiempo] PRIMARY KEY CLUSTERED 
(
	[anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HechosVivienda]    Script Date: 4/06/2026 5:41:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HechosVivienda](
	[id_hecho] [int] IDENTITY(1,1) NOT NULL,
	[consecutivo] [bigint] NOT NULL,
	[tipoacuerdo] [varchar](50) NOT NULL,
	[municipio] [varchar](100) NOT NULL,
	[cod_municipio] [int] NOT NULL,
	[subregion] [varchar](100) NOT NULL,
	[fase] [varchar](20) NOT NULL,
	[nropobla] [int] NOT NULL,
	[aportegob] [bigint] NOT NULL,
	[aportemun] [bigint] NOT NULL,
	[aporteotr] [bigint] NOT NULL,
	[fechainicio] [date] NULL,
	[fechafin] [date] NULL,
	[cantidadtotal] [int] NOT NULL,
	[municipio_subsidio] [varchar](100) NULL,
	[programa] [varchar](150) NULL,
	[anio_asignacion] [int] NOT NULL,
	[estado_postulacion] [varchar](100) NULL,
	[hogares] [int] NOT NULL,
	[valor_asignado] [bigint] NOT NULL,
	[tiene_subsidio] [varchar](20) NOT NULL,
	[cod_divipola_mun] [int] NULL,
	[cod_divipola_depto] [int] NULL,
 CONSTRAINT [PK_HechosVivienda] PRIMARY KEY CLUSTERED 
(
	[id_hecho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DimMunicipio] ([cod_divipola_mun], [cod_divipola_depto], [municipio], [departamento]) VALUES (0, 0, N'Sin municipio', N'Sin departamento')
INSERT [dbo].[DimMunicipio] ([cod_divipola_mun], [cod_divipola_depto], [municipio], [departamento]) VALUES (5001, 5, N'MEDELLÃN', N'ANTIOQUIA')
INSERT [dbo].[DimMunicipio] ([cod_divipola_mun], [cod_divipola_depto], [municipio], [departamento]) VALUES (5002, 5, N'ABEJORRAL', N'ANTIOQUIA')
GO
INSERT [dbo].[DimPrograma] ([id_programa], [programa]) VALUES (1, N'MI CASA YA')
INSERT [dbo].[DimPrograma] ([id_programa], [programa]) VALUES (2, N'Bolsa Desplazados')
INSERT [dbo].[DimPrograma] ([id_programa], [programa]) VALUES (3, N'Programa Vivienda Gratuita Fase I')
GO
INSERT [dbo].[DimTiempo] ([anio], [mes]) VALUES (0, N'N/A')
INSERT [dbo].[DimTiempo] ([anio], [mes]) VALUES (2003, N'N/A')
INSERT [dbo].[DimTiempo] ([anio], [mes]) VALUES (2004, N'N/A')
GO
SET IDENTITY_INSERT [dbo].[HechosVivienda] ON 

GO
SET IDENTITY_INSERT [dbo].[HechosVivienda] OFF
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [nropobla]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [aportegob]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [aportemun]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [aporteotr]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [cantidadtotal]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [anio_asignacion]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [hogares]
GO
ALTER TABLE [dbo].[HechosVivienda] ADD  DEFAULT ((0)) FOR [valor_asignado]
GO
ALTER TABLE [dbo].[HechosVivienda]  WITH NOCHECK ADD  CONSTRAINT [FK_Hechos_Municipio] FOREIGN KEY([cod_divipola_mun])
REFERENCES [dbo].[DimMunicipio] ([cod_divipola_mun])
GO
ALTER TABLE [dbo].[HechosVivienda] CHECK CONSTRAINT [FK_Hechos_Municipio]
GO
ALTER TABLE [dbo].[HechosVivienda]  WITH NOCHECK ADD  CONSTRAINT [FK_Hechos_Tiempo] FOREIGN KEY([anio_asignacion])
REFERENCES [dbo].[DimTiempo] ([anio])
GO
ALTER TABLE [dbo].[HechosVivienda] CHECK CONSTRAINT [FK_Hechos_Tiempo]
GO
USE [master]
GO
